<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<title>Projet DSTR</title>
</head>

<body>

	<div class="container" style="margin-top: 20px">
		<div class="card">
			<!-- Navbar -->
			<nav class="navbar navbar-dark bg-primary">
				<a class="navbar-brand" href="#">
					Details de l'étude
				</a>
				<form class="form-inline">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#addEtudeModal"
						style="margin-right: 5px;">
						Modifier
					</button>
					<button type="button" class="btn btn-outline-danger" data-toggle="modal"
						data-target="#deleteEtudeModal">
						Supprimer
					</button>
				</form>
			</nav>
			<!-- Liste des etudes -->
			<div class="container">
				<table class="table table-bordered" style="margin-top: 15px;">
					<tbody>
						<tr>
							<td>Libelle</td>
							<td th:text="${etude.libelle}"></td>
						</tr>
						<tr>
							<td>Date de Debut</td>
							<td th:text="${etude.dateDebut}"></td>
						</tr>
						<tr>
							<td>Date de Fin</td>
							<td th:text="${etude.dateFin}"></td>
						</tr>
						<tr>
							<td>Budget</td>
							<td th:text="${etude.budget}"></td>
						</tr>
						<tr>
							<td>Satisfaction</td>
							<td th:text="${etude.satisfaction}"></td>
						</tr>
						<tr>
							<td>Periodicite</td>
							<td th:text="${etude.periodicite}"></td>
						</tr>
						<tr>
							<td>Tyde de l'étude</td>
							<td th:text="${etude.typeEtude}"></td>
						</tr>
						<tr>
							<td>Commentaire</td>
							<td th:text="${etude.commentaire}"></td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Realiateur du Projet -->
	<div class="container" style="margin-top: 20px">
		<div class="card">
			<!-- Navbar -->
			<nav class="navbar navbar-dark bg-primary">
				<a class="navbar-brand" href="#">
					Réalisateur du Projet
				</a>
				<form class="form-inline">
					<a href="#" class="btn btn-outline-success" role="button" style="margin-right:5px">Ajouter le
						Rélisateur</a>
				</form>
			</nav>
			<div class="container">
				<table class="table table-bordered table-hover" style="margin-top:15px;">
					<thead>
						<tr>
							<th>Libelle</th>
							<th>Email</th>
							<th>Siege</th>
							<th>Personne à contacter</th>
							<th>Contact</th>
							<!-- <th>Actions</th> -->
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="${realisateur.libelle}"></td>
							<td th:text="${realisateur.email}"></td>
							<td th:text="${realisateur.siege}"></td>
							<td th:text="${realisateur.persAContacter1}"></td>
							<td th:text="${realisateur.contact1}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<!-- Liste des candidats de l'appel d'offre -->
	<div class="container" style="margin-top: 20px">
		<div class="card">
			<!-- Navbar -->
			<nav class="navbar navbar-dark bg-primary">
				<a class="navbar-brand" href="#">
					Liste des Candidats de l'Appel d'Offre
				</a>
				<form class="form-inline">
					<button type="button" class="btn btn-outline-success" data-toggle="modal"
						data-target="#addCandidatModal">
						Ajouter un Candidat
					</button>
				</form>
			</nav>
			<div class="container">
				<table class="table table-bordered table-hover" style="margin-top:15px;">
					<thead>
						<tr>
							<th>Libelle</th>
							<th>Email</th>
							<th>Siege</th>
							<th>Personne à contacter</th>
							<th>Contact</th>
							<!-- <th>Actions</th> -->
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${etude.prestataires}">
							<td th:text="${p.libelle}"></td>
							<td th:text="${p.email}"></td>
							<td th:text="${p.siege}"></td>
							<td th:text="${p.persAContacter1}"></td>
							<td th:text="${p.contact1}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- Edit Add Etudes Modal HTML -->
	<div id="addEtudeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="#" method="POST" th:action="@{/update/etude/{id}(id=${etude.id})}" th:object="${etude}">
					<div class="modal-header">
						<h4 class="modal-title">Nouvelle Etude</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Libelle</label>
							<input type="text" id="libelle" class="form-control" th:field="*{libelle}" required>
						</div>
						<div class="form-group">
							<label>Date de Debut</label>
							<input th:field="*{dateDebut}" type="text" id="dateDebut" class="form-control"
								placeholder="yyyy/mm/dd" required>
						</div>
						<div class="form-group">
							<label>Date de Fin</label>
							<input type="text" id="dateFin" class="form-control" th:field="*{dateFin}"
								placeholder="yyyy-mm-dd">
						</div>
						<div class="form-group">
							<label>Budget</label>
							<input type="number" id="budget" class="form-control" th:field="*{budget}" required>
						</div>
						<div class="form-group">
							<label>Type de l'étude</label>
							<select class="form-control" id="typeEtude" th:field="*{typeEtude}" required>
								<option th:value="quantitatif">Quantitatif</option>
								<option th:value="qualitatif">Qualitatif</option>
								<option th:value="mix">Mix(Qualitatif & Quantitatif Potentiel)</option>
							</select>
						</div>
						<div class="form-group">
							<label>Commentaire</label>
							<textarea class="form-control" id="commentaire" th:field="*{commentaire}"></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-success" value="Valider">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Add Etudes Modal HTML -->

	<!-- Edit Add Candidat Modal -->
	<div id="addCandidatModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form action="#" method="POST" th:action="@{/save/etude/candidats/{id}(id=${etude.id})}">
					<div class="modal-header">
						<h4 class="modal-title">Ajouter des Candidats</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Selectionner un Candidat</label>
							<select class="form-control" id="candidat" name="candidat" required>
								<option th:each="p : ${prestataires}" th:value="${p.id}" th:text="${p.libelle}"></option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
						<input type="submit" class="btn btn-success" value="Valider">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Add Candidat Modal -->

	<!-- Edit Delete Etude Modal -->
	<div class="modal fade" id="deleteEtudeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Suppression</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="alert alert-danger" role="alert" style="margin-bottom:0px">
						Êtes-vous sûr de vouloir supprimer d'étude selectionnée ?
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
					<a th:href="@{/delete/etude/{id}(id=${etude.id})}" class="btn btn-danger"
						role="button">Supprimer</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Edit Delete Etude Modal -->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
	</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
	</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
	</script>
</body>

</html>