<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Projet DSTR</title>
</head>

<body>

    <!-- Add header -->
    <div th:insert="fragments/header :: header"></div>
    <!-- Add header -->

    <div class="container" style="margin-top: 15px; margin-bottom: 15px">
        <div class="card">
            <!-- Navbar -->
            <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="#">
                    Liste des <b style="color:orange">Etudes</b>
                </a>
                <form class="form-inline">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-outline-success" data-toggle="modal"
                        data-target="#addEtudeModal">
                        Nouvelle Etude
                    </button>
                </form>
            </nav>
            <!-- Liste des etudes -->
            <div class="container" style="max-height: 785px; overflow: hidden; overflow-y: auto">
                <table class="table table-hover" style="margin-bottom: 0px;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Etude</th>
                            <th scope="col">Début</th>
                            <!-- <th scope="col">Fin</th> -->
                            <th scope="col">Budget</th>
                            <th scope="col">Type étude</th>
                            <th scope="col">Périodicité</th>
                            <th style="text-align: center;" scope="col">Satisfaction</th>
                            <th style="text-align: center;" scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="etude, i : ${etudes}">
                            <td th:text="${i.index+1}"></td>
                            <td style="text-align: left;" th:text="${etude.libelle}"></td>
                            <td th:text="${#dates.format(etude.dateDebut,'yyyy-mm-dd')}"></td>
                            <!-- <td th:text="${#dates.format(etude.dateFin,'yyyy-mm-dd')}"></td> -->
                            <td th:text="${etude.budget}"></td>
                            <td style="text-transform: capitalize;" th:text="${etude.typeEtude}"></td>
                            <td style="text-transform: capitalize;" th:text="${etude.periodicite}"></td>
                            <td style="text-align: center;" th:text="${etude.satisfaction}"></td>
                            <td style="text-align: center;"><a href="#" th:href="@{/details/etude/{id}(id=${etude.id})}">details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

	<!-- Edit Add Etudes Modal HTML -->
	<div th:insert="fragments/save-etude-form :: save-etude-form"></div>
	<!-- Edit Add Etudes Modal HTML -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
</body>

</html>